/* Header Styles */
.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between; /* Pour séparer le logo et la navigation */
  align-items: center;
  padding: 1.25rem 1rem;
  width: 100%; /* Full width */
  box-sizing: border-box;
  background-color: #ffffff00;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo {
  width: 6rem;
  height: 6rem;
  background-image: url("../../../assets/images/Logo_NDI.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}

.logo-text {
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
}

.header-nav {
  display: flex;
  justify-content: center; /* Centre les onglets horizontalement */
  gap: 1rem;
  font-family: "Bahiana";
  font-size: 2.5rem;
}

.nav-link {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-weight: 600;
  text-decoration: none;
  transition: background-color 0.3s;
  color: #ffffff;
}

.nav-link.active {
  color: yellow;
}

.nav-link:hover {
  background-color: #78baf0; /* Tailwind's green-600 */
}

@font-face {
  font-family: "Bahiana";
  src: url("../../../assets/polices/Bahiana-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "McLaren";
  src: url("../../../assets/polices/McLaren-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
