.world-map {
  position: relative;
  width: 100vw; /* Prend toute la largeur de l'écran */
  height: 100vh; /* Prend toute la hauteur de l'écran */
  color: #fff;
  overflow-x: hidden; /* Cache tout contenu qui dépasse horizontalement */
  overflow-y: hidden; /* Cache tout contenu qui dépasse verticalement */
}

.levels-container {
  display: flex;
  width: 100%; /* Prend toute la largeur de l'écran */
  height: 100%; /* Prend toute la hauteur de l'écran */
  overflow-x: auto; /* Permet le scroll horizontal */
  scroll-snap-type: x mandatory; /* Effet de "scroll magnétique" horizontal */
  -webkit-overflow-scrolling: touch; /* Améliore la fluidité du scroll sur mobile */
}

.levels {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.level-container {
  display: flex;
  width: 33.33%;
  flex-shrink: 0; /* Empêche la réduction des éléments */
  margin: 0 0.5rem; /* Un peu d'espace entre les niveaux */
  transition: transform 0.3s ease-in-out;
  scroll-snap-align: start; /* Alignement magnétique pour chaque niveau */
  justify-content: center;
}

.background {
  height: 100vh;
  background-image: url("../../assets/images/fond-bob-eponge.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
  /* Ajout de l'animation */
  animation: moveBackground 3s ease-in-out infinite alternate;
}

/* Définition de l'animation */
@keyframes moveBackground {
  0% {
    background-position: center top;
  }
  50% {
    background-position: center 2px;
  }
  100% {
    background-position: center top;
  }
}
