/* Main Content Styles */
.main-content {
  text-align: center;
  padding: 5rem 5rem;
  box-sizing: border-box;
  background-image: url("../../../assets/images/img_fond.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  backdrop-filter: blur(3px);
}

.titre-image {
  width: 100%;
  min-width: 400px;
  max-width: 800px;
  height: 300px;
  background-image: url("../../../assets/images/titre.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}

/* Title Styling */
.main-title {
  font-size: 3rem;
  color: #2d3748;
  font-weight: bold;
  margin-bottom: 1rem;
  font-family: "Bahiana";
  text-align: medium;
  word-wrap: break-word;
}

.content-title {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

/* Content Text Styling */
.content-text {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  color: black;
  margin-bottom: 1rem;
  font-size: 1.25rem; /* Augmenter la taille de la police pour le contenu */
  text-align: left;
  font-family: "McLaren";
  text-align: justify;
  background: rgba(228, 225, 196, 0.7);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.content-text p {
  line-height: 1.6;
}

/* Call to Action Button Styling */
.cta-button {
  padding: 0.75rem 1.5rem; /* Ajustez selon vos besoins */
  font-weight: 600;
  color: #ffffff;
  font-size: 4rem;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s;
  margin-top: 10px; /* Espace au-dessus du bouton */
  font-family: "Bahiana";
}

.content-container {
  display: flex;
  justify-content: center; /* Aligne les éléments horizontalement */
  align-items: flex-end; /* Aligne les éléments en haut */
  gap: 1rem; /* Réduit l'espace entre le texte et l'image */
}

.bob-image {
  width: 100%;
  max-width: 30%;
  height: 30rem;
  background-image: url("../../../assets/images/bobleponge.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}

.cta-background {
  background-image: url("../../../assets/images/splash.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 1.5rem;
}

.cta-button:hover {
  color: yellow;
  scale: 1.2;
}

/* Popup Styles */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background-color: #ffffff;
  padding: 2rem;
  width: 80%;
  max-width: 600px;
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.popup-title {
  font-size: 2rem;
  color: #38b2ac;
  font-weight: bold;
  margin-bottom: 1rem;
}

.popup-body p {
  font-size: 1.125rem;
  line-height: 1.6;
  margin-bottom: 1rem;
  color: #2d3748;
  text-align: justify;
}

.popup-body strong {
  font-weight: 700;
  color: #2f855a;
  text-align: justify;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 2rem;
  color: #4a5568;
  background: transparent;
  border: none;
  cursor: pointer;
}

.close-btn:hover {
  color: #2f855a;
}

/* Responsive Styles */
@media (max-width: 600px) {
  .popup-title {
    font-size: 1.75rem;
  }

  .popup-body p {
    font-size: 1rem;
  }

  .cta-button {
    padding: 0.75rem 1.25rem;
    font-size: 10rem;
  }

  .bob-image {
    display: none;
  }

  .content-text {
    max-width: 80%;
    font-size: 0.8rem;
  }

  .titre-image {
    margin-left: 0;
    max-width: 10rem;
    max-height: 7rem;
  }

  .nav-link {
    margin-right: auto;
  }
}

/* Responsive Styles */
@media (max-width: 1200px) {
  .popup-title {
    font-size: 2rem;
  }

  .popup-body p {
    font-size: 1.2rem;
  }

  .cta-button {
    padding: 0.75rem 1.25rem;
    font-size: 3rem;
  }

  .bob-image {
    display: none;
  }

  .content-text {
    max-width: 80%;
    font-size: 1.2rem;
  }

  .titre-image {
    margin-left: 0;
    max-width: 20rem;
    max-height: 20rem;
    margin: auto;
  }

  .nav-link {
    margin-right: auto;
  }
}

@font-face {
  font-family: "Bahiana";
  src: url("../../../assets/polices/Bahiana-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "McLaren";
  src: url("../../../assets/polices/McLaren-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
