<main class="main-content">
  <div class="content-container">
    <div class="content-title">
      <div class="titre-image"></div>
      <div class="content-text">
        <p>
          Bab l'éponge vous plonge au cœur des océans pour une aventure unique
          et amusante. Incarnez un héros marin qui évolue à travers des niveaux
          remplis de défis et de surprises.
        </p>
        <p>
          Chaque niveau est une nouvelle opportunité d’explorer des mondes
          sous-marins colorés, de relever des défis et de découvrir des trésors
          cachés. Réflexion, agilité, et exploration seront vos meilleurs alliés
          pour surmonter les obstacles et assembler le héros de vos rêves.
        </p>
      </div>
    </div>
    <div class="bob-image"></div>
  </div>
  <div class="cta-background">
    <a routerLink="/world" class="cta-button">Plouf !</a>
  </div>
</main>
