.intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Bahiana", sans-serif;
  padding: 3rem 1rem;
  background-image: url(../../assets/images/maison-sandy.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.dialogue-text {
  margin-bottom: 20px;
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
  color: yellow;
}

.character {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
  border-radius: 50%;
}

.character.blue {
  height: 20rem;
  width: 20rem;
  background-image: url("../../assets/images/bobleponge.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.character.red {
  height: 20rem;
  width: 20rem;
  background-image: url("../../assets/images/Sandy.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.next-button {
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  color: #333;
  animation: bounce-and-rotate 1.5s infinite ease-in-out;

  &:hover {
    animation: bounce-and-rotate-hover 0.5s infinite ease-in-out;
  }
}

@keyframes bounce-and-rotate {
  0%,
  100% {
    transform: translateY(0) rotate(0deg);
  }
  50% {
    transform: translateY(-10px) rotate(5deg);
  }
}

@keyframes bounce-and-rotate-hover {
  0%,
  100% {
    transform: translateY(0) rotate(0deg);
  }
  50% {
    transform: translateY(-5px) rotate(-5deg);
  }
}

@media (max-width: 768px) {
  .intro-container {
    padding: 8rem 1rem;
  }

  .dialogue-text {
    font-size: 3rem;
  }
}
