/* Footer Styles */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  box-sizing: border-box;
  width: 100%; /* Full width */
  box-sizing: border-box;
  background-color: #ffffff00;
}

.footer-link {
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-weight: 600;
  text-decoration: none;
  transition: background-color 0.3s;
}

.footer-link:hover {
  color: yellow; /* Tailwind's green-600 */
}

.footer-container {
  width: fit-content;
  height: 1.5rem;
  padding: 2rem;
  background-image: url("../../../assets/images/panneau.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}
