<div class="quiz-main">
  <div id="quiz-container">
    <!-- Zone pour indiquer qui parle -->
    <div id="speaker">
      <h2>Quiz Level {{ level.num }}</h2>
      <p id="speaker-name">
        Personnage : <span>{{ currentQuestion.titre }}</span>
      </p>
    </div>

    <!-- Zone pour la question -->
    <div id="question">
      <p>{{ currentQuestion.question }}</p>
    </div>

    <!-- Zone pour les réponses -->
    <div id="answers">
      <button
        *ngFor="let option of currentQuestion.reponses; let i = index"
        class="answer-btn"
        (click)="checkAnswer(i)"
      >
        {{ option }}
      </button>
    </div>
  </div>
</div>
