<div class="tc">
  <h1>Jeu de Mémoire - Edition Mauvais Goût</h1>
  <div class="game-board">
    <!-- Cartes du jeu -->
    <div class="card" data-card="🐟">
      <img
        src="https://th.bing.com/th/id/R.cd10e74c6dfd5d9015f26acd1d5e447a?rik=32bLHkJIlpzJBw&pid=ImgRaw&r=0"
        alt="Poisson 1"
        class="card-img"
      />
    </div>
    <div class="card" data-card="🐠">
      <img
        src="https://images6.alphacoders.com/688/688276.jpg"
        alt="Poisson 2"
        class="card-img"
      />
    </div>
    <div class="card" data-card="🐟">
      <img
        src="https://th.bing.com/th/id/R.cd10e74c6dfd5d9015f26acd1d5e447a?rik=32bLHkJIlpzJBw&pid=ImgRaw&r=0"
        alt="Poisson 1"
        class="card-img"
      />
    </div>
    <div class="card" data-card="🐬">
      <img
        src="https://th.bing.com/th/id/R.41d5752720262851ec06b18a96f4ef42?rik=umtTuYjtCppaJw&riu=http%3a%2f%2fvignette2.wikia.nocookie.net%2fbob-leponge%2fimages%2f2%2f2d%2fImageCarloTentacule.jpg%2frevision%2flatest%3fcb%3d20150816112931%26path-prefix%3dfr&ehk=GZHKKq8d1Svw%2fjSh7Rc4rWYmvHXallxEnYd9iWHO3So%3d&risl=&pid=ImgRaw&r=0"
        alt="Poisson 3"
        class="card-img"
      />
    </div>
    <div class="card" data-card="🐠">
      <img
        src="https://images6.alphacoders.com/688/688276.jpg"
        alt="Poisson 2"
        class="card-img"
      />
    </div>
    <div class="card" data-card="🦀">
      <img
        src="https://th.bing.com/th/id/OIP.PTG6WSIHP9Ff6dunYL9uKwHaH-?rs=1&pid=ImgDetMain"
        alt="Poisson 4"
        class="card-img"
      />
    </div>
    <div class="card" data-card="🦀">
      <img
        src="https://th.bing.com/th/id/OIP.PTG6WSIHP9Ff6dunYL9uKwHaH-?rs=1&pid=ImgDetMain"
        alt="Poisson 4"
        class="card-img"
      />
    </div>
    <div class="card" data-card="🐬">
      <img
        src="https://th.bing.com/th/id/R.41d5752720262851ec06b18a96f4ef42?rik=umtTuYjtCppaJw&riu=http%3a%2f%2fvignette2.wikia.nocookie.net%2fbob-leponge%2fimages%2f2%2f2d%2fImageCarloTentacule.jpg%2frevision%2flatest%3fcb%3d20150816112931%26path-prefix%3dfr&ehk=GZHKKq8d1Svw%2fjSh7Rc4rWYmvHXallxEnYd9iWHO3So%3d&risl=&pid=ImgRaw&r=0"
        alt="Poisson 3"
        class="card-img"
      />
    </div>
    <!-- Bob l'Éponge géant avec des flux de lumière -->
    <div id="bob-sponge" class="hidden">
      <img
        src="https://th.bing.com/th/id/R.f49f3fde7f745a9090b4b2c400faaf26?rik=mOzulO3GczJRrg&riu=http%3a%2f%2fwww.imagespourtoi.com%2flesimages%2fbob-eponge%2fimage-bob-eponge-2.jpg&ehk=CUBpuKt57FZ9KEvl42KYImwVuYNQpQQSd%2f0G0KhE5V8%3d&risl=&pid=ImgRaw&r=0"
        alt="Bob l'Éponge géant"
        id="bob-img"
      />
      <div class="light-flare"></div>
      <div class="light-flare"></div>
      <div class="light-flare"></div>
    </div>
    <div id="bob-sponge" class="hidden"></div>
  </div>
</div>
