<!-- Le personnage ne sera affiché que si le joueur est sur le niveau sélectionné -->
<img
  *ngIf="isPlayerOnLevel()"
  src="https://autocollant-sticker.com/1056-thickbox_default/bob-eponge-col.jpg"
  alt="bob l'éponge"
  style="display: block; position: relative; margin: 0 auto -200px -80px"
  width="350"
  height="350"
  (click)="clickLevel()"
/>

<!-- La plateforme SVG reste toujours visible -->
<svg
  xmlns="http://www.w3.org/2000/svg"
  width="150"
  height="150"
  viewBox="0 0 110 130"
  (click)="clickLevel()"
  role="button"
  tabindex="0"
  (keydown.enter)="clickLevel()"
  class="level-round"
>
  <ellipse
    cx="100"
    cy="110"
    rx="40"
    ry="20"
    [style.fill]="isPlayerOnLevel() ? '#000000' : '#FFFFFF'"
    transform="skewX(-20)"
  />
  <ellipse
    cx="100"
    cy="110"
    rx="35"
    ry="15"
    [style.fill]="getPlatformColor()"
    transform="skewX(-20)"
  />
</svg>

<div class="title-container">
  <h1 class="level-title">Level {{ level.num }} : {{ level.titre }}</h1>
</div>
