.level {
  width: 150px;
  height: 100px;
  text-align: center;
  padding: 1rem;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
